@font-face {
    font-family: "The-Seasons";
    src: url('TheSeasons-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Lora";
    src: url('Lora-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Montserrat";
    src: url('Montserrat-Regular.ttf') format('truetype');
}
@keyframes fade-in-down {
    from {
        translate: 0 -4vh;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}
@keyframes fade-out-container {
    to {
        opacity: 0;
    }
}
@keyframes fade-out-image {
    100% {
        scale: 2.5;
    }
}
@keyframes color-switch {
    100% {
        box-shadow: 0 5px 8px 3px rgba(0,0,0,.14);
        background-color: #BEAF95;
    }
}
@keyframes color-switch-text {
    15%, 25%, 50%, 70% {
        color: transparent;
        fill: transparent;
    }   
}
html {
    scroll-behavior: smooth;
    overflow-x: clip;
    overflow-anchor: auto;
}
body {
    font-family: "Lora";
    font-weight: 400;
    font-size: 1.9vh;
    background-color: white;
    color: #000000c2;
    line-height: 1.25;
    word-break: break-word;
    margin: 0;
    transition: 0.4s;
}
#page {
    display: none;
}
#pre-loader {
    display: block;
    width: 100%;
    height: 100%;
    background: #ffffff url("pre-loader.gif") no-repeat center center;
    background-size: 13vw;
    position: fixed;
    z-index: 300;
}
.container {
    display: flex;
    justify-content: center;
}
.row {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    height: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p::selection {
    background-color: #1b6223;
    color: #ffffff;
}
#navbar-container {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    animation: color-switch linear forwards;
    animation-timeline: view();
    animation-range-start: 180vh;
    animation-range-end: 195vh;
}
#navbar-container a {
    font-family: "Montserrat";
    font-size: 3.1vh;
    font-weight: bold;
    color: white;
    padding-right: 20px;
    animation: color-switch-text linear forwards;
    animation-timeline: view();
    animation-range-start: 110vh;
    animation-range-end: 195vh;
}
svg {
    width: 100%;
    height: 4.5vh;
}
#navbar-container svg g {
    animation: color-switch-text linear forwards;
    animation-timeline: view();
    animation-range-start: 104vh;
    animation-range-end: 195vh;
}
a {
    display: block;
    text-decoration: none;
    cursor: pointer;
}
#navbar-row {
    justify-content: space-between;
    padding: 2vh 0;
    width: 82vw;
}
#homelink-container {
    cursor: pointer;
    transition: 0.4s;
}
#homelink-container:hover, #menu-button:hover {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.1, 1.1) rotate(0deg);
}
#cover-page {
    color: #ffffff;
    opacity: 1;
    translate: 0 0;
    position: relative;
    transition-property: opacity translate;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    width: 100%;
    height: 105vh;
    overflow-x: clip;
    align-items: center;
    @starting-style {
        opacity: 0;
        translate: 0 50px;
        overflow-anchor: auto;
    }
}
#image-background {
    width: 100%;
    height: 100%;
    background-image: url(./1606643597.jpg);
    background-size: cover;
}
#color-background {
    width: 100%;
    height: 100%;
    background-color: #004b159e;
    mix-blend-mode: multiply;
}
#heading-container {
    position: absolute;
    flex-direction: column;
    width: 82vw;
    animation: fade-out-container linear forwards;
    animation-timeline: view();
    animation-range: exit;
}
#main {
    position: relative;
}
#heading-container p {
    opacity: 1;
    translate: 0 0;
    transition-property: opacity translate;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    @starting-style {
        opacity: 0;
        translate: 0 50px;
    }
}
#title, #name {
    font-family: "Montserrat";
    font-size: 3.2vh;
    margin: 0 0;
}
#name {
    transition-delay: 2s;
}
#descriptor {
    margin: 5.5vh 0;
    font-family: "The-Seasons";
    font-size: 6.4vh;
    line-height: 1.15;
    transition-delay: 1s;
}
#content-container {
    margin-top: 10vh;
    margin-bottom: 13vh;
    line-height: 1.6;
}
.sub-heading-container p, .paragraph-container p, .paragraph-container img {
    animation: fade-in-down linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 200px;
}
#image-background {
    animation: fade-out-image linear forwards;
    animation-timeline: view();
    animation-range: exit;
    transform-origin: bottom;
}
#content-container img {
    width: 100%;
    margin: 1.9vh 0;
    opacity: 0;
}
#content-container .container {
    flex-direction: column;
    width: 82vw;
}
.sub-heading-container {
    font-family: "Montserrat";
    font-size: 2.4vh;
    font-weight: bold;
    line-height: 1.35;
    color: #7e5f2b;
}
.sub-heading-container p {
    margin: 1.2vh 0;
    opacity: 0;
}
.paragraph-container p {
    margin: 3.8vh 0;
    opacity: 0;
}
.paragraph-container a, #references a {
    color: #000000c2;
    text-decoration: underline;
    display: inline;
}
.paragraph-container a:hover, #references a:hover, .paragraph-container a:active, #references a:active {
    color: #1b6223;
}
#conclusion {
    margin-top: 4.6vh;
}
#references {
    padding-top: 5vh;
}
#sub-heading-7 {
    margin-bottom: 3.5vh;
}
#footer-container {
    font-family: "The-Seasons";
    font-size: 3vh;
}
#lower-footer-row {
    background-color: #1b6223;
    color: #ffffff;
    justify-content: space-between;
    padding: 5 10vw 5 8vw;
    z-index: 200;
}
#lower-footer-row p {
    margin: 15 0 15 0;
}
#upper-footer-row {
    align-items: flex-end;
    justify-content: center;
}
#bg-leaves-2 {
    position: relative;
    height: 10vh;
    width: 100%;
    overflow: hidden;
}
.button {
    cursor: pointer;
    transition: 0.4s;
    border: none;
    background-color: transparent;
    padding: 0;
    rotate: 0deg;
}
.button:active {
    transform: scale(1.1, 1.1);
}
.button svg {
    width: 100%;
    height: 4.5vh;
}
#hidden-menu-container {
    font-family: "Montserrat";
    font-size: 2.15vh;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 5px 8px 3px rgba(0,0,0,.14);
    position: absolute;
    display: none;
    opacity: 0;
    transition-property: display opacity;
    transition-duration: 1.3s;
    transition-behavior: allow-discrete;
    translate: 0 60vh;
    overflow-anchor: none;
    right: 0;
}
#hidden-menu-container.active {
    display: block;
    opacity: 1;
    translate: 0 0;
    overflow-anchor: auto;
    @starting-style {
        opacity: 0;
        translate: 0 70vh;
        overflow-anchor: auto;
    }
}
#menu-heading-container {
    background-color: #1b6223;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 4vh;
}
#menu-heading-container p {
    margin: 20;
}
.option-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 11.2vh;
    transition: 0.4s;
}
.option-container:hover, .option-container:active {
    background-color: #7e5f2b;
    opacity: 0.5;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.option-container a {
    width: 80%;
    height: -webkit-fill-available;
    padding: 2.5vh 3.5vh 2.5vh 2.4vh;
    color: black;
}
#topic-5 {
    padding: 3.65vh 3.5vh 3.65vh 2.4vh;
}
.option-container:hover a, .option-container:active a {
    color: white;
}
.color-band {
    width: 7px;
    height: 100%;
    background-color: #1b6223;
}
.option-container:hover .color-band, .option-container:active .color-band {
    background-color: #000000;
    opacity: 0.4;
}
